{% extends 'base.html.twig' %}

{% block title %}Liste des prochains évènements{% endblock %}

{% block body %}

<h1>Liste des prochains évènements</h1>
<table>
    {% for event in events %}
        <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.date|date("d/m/Y") }}</td>
        </tr>
    {% endfor %}
</table>
<p><a href="{{path('home')}}">Retour à l'accueil</a></p>
{% endblock %}
